/***** Font Definition for Open Sans. This stylesheet comes from qrohlf.com/posts/better-opensans *****/
/* Regular */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,greek,cyrillic,greek-ext,vietnamese,cyrillic-ext,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,greek,cyrillic,greek-ext,vietnamese,cyrillic-ext,latin-ext);
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-Regular-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-Italic-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-Italic-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-Light-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-Light-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-LightItalic-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-Semibold-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-Bold-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-Bold-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: bold;
  font-weight: 700;
  font-style: italic;
}

/* Extra Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* Extra Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("/resources/toolkit/fonts/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("/resources/toolkit/fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("/resources/toolkit/fonts/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("/resources/toolkit/fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Symantec Sans';
  font-style: normal;
  font-weight: 300;
  src: url("/resources/toolkit/fonts/symantec-sans_light.eot");
  src: url("/resources/toolkit/fonts/symantec-sans_light.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/symantec-sans_light.woff") format("woff"), url("/resources/toolkit/fonts/symantec-sans_light.ttf") format("truetype"), url("/resources/toolkit/fonts/symantec-sans_light.svg#symantec-sans_light") format("svg");
}

@font-face {
  font-family: 'Symantec Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/resources/toolkit/fonts/symantec-sans_regular.eot");
  src: url("/resources/toolkit/fonts/symantec-sans_regular.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/symantec-sans_regular.woff") format("woff"), url("/resources/toolkit/fonts/symantec-sans_regular.ttf") format("truetype"), url("/resources/toolkit/fonts/symantec-sans_regular.svg#symantec-sans_regular") format("svg");
}

@font-face {
  font-family: 'Symantec Sans';
  font-style: bold;
  font-weight: 700;
  src: url("/resources/toolkit/fonts/symantec-sans_bold.eot");
  src: url("/resources/toolkit/fonts/symantec-sans_bold.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/symantec-sans_bold.woff") format("woff"), url("/resources/toolkit/fonts/symantec-sans_bold.ttf") format("truetype"), url("/resources/toolkit/fonts/symantec-sans_bold.svg#symantec-sans_bold") format("svg");
}

@font-face {
  font-family: 'Symantec Sans';
  font-style: italic;
  font-weight: 300;
  src: url("/resources/toolkit/fonts/symantec-sans_light-italic.eot");
  src: url("/resources/toolkit/fonts/symantec-sans_light-italic.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/symantec-sans_light-italic.woff") format("woff"), url("/resources/toolkit/fonts/symantec-sans_light-italic.ttf") format("truetype"), url("/resources/toolkit/fonts/symantec-sans_light-italic.svg#symantec-sans_light-italic") format("svg");
}

@font-face {
  font-family: 'Symantec Sans';
  font-style: italic;
  font-weight: 400;
  src: url("/resources/toolkit/fonts/symantec-sans_regular-italic.eot");
  src: url("/resources/toolkit/fonts/symantec-sans_regular-italic.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/symantec-sans_regular-italic.woff") format("woff"), url("/resources/toolkit/fonts/symantec-sans_regular-italic.ttf") format("truetype"), url("/resources/toolkit/fonts/symantec-sans_regular-italic.svg#symantec-sans_regular-italic") format("svg");
}

@font-face {
  font-family: 'Symantec Sans';
  font-style: italic;
  font-weight: 700;
  src: url("/resources/toolkit/fonts/symantec-sans_bold-italic.eot");
  src: url("/resources/toolkit/fonts/symantec-sans_bold-italic.eot?#iefix") format("embedded-opentype"), url("/resources/toolkit/fonts/symantec-sans_bold-italic.woff") format("woff"), url("/resources/toolkit/fonts/symantec-sans_bold-italic.ttf") format("truetype"), url("/resources/toolkit/fonts/symantec-sans_bold-italic.svg#symantec-sans_bold-italic") format("svg");
}

/* line 16, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
::-moz-selection {
  background: #D3D0CB;
  /* WebKit/Blink Browsers */
}
::selection {
  background: #D3D0CB;
  /* WebKit/Blink Browsers */
}

/* line 19, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
::-moz-selection {
  background: #D3D0CB;
  /* Gecko Browsers */
}

/* line 23, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
a.app__link {
  text-decoration: none;
  color: #0089c6;
}

/* line 26, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
a.app__link:link {
  color: #0089c6;
}

/* line 29, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
a.app__link:visited {
  color: #0089c6;
}

/* line 34, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 42, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.is--stratus img.stratus, .is--stratus span.stratus, .is--stratus div.stratus {
  display: block;
}

/* line 45, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.is--stratus img.cumulus, .is--stratus span.cumulus, .is--stratus div.cumulus {
  display: none;
}

/* line 51, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.is--cumulus img.stratus, .is--cumulus span.stratus, .is--cumulus div.stratus {
  display: none;
}

/* line 54, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.is--cumulus img.cumulus, .is--cumulus span.cumulus, .is--cumulus div.cumulus {
  display: block;
}

/* line 59, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer {
  position: relative;
  width: 80%;
  left: 20%;
  height: 100%;
  overflow-y: scroll;
  z-index: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding-right: 18px;
}

/* line 70, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer.is--full {
  width: 100%;
  left: 10px;
  padding-right: 28px;
}

/* line 76, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer.is--half {
  width: 50%;
  padding-right: 14px;
}

/* line 81, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer.is--half.is--full {
  width: 70%;
  padding-right: 20px;
}

/* line 86, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section, .content-viewer .doc-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  position: relative;
  z-index: 10;
}

/* line 96, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section:after, .content-viewer .doc-section:after {
  content: "";
  display: block;
  clear: both;
}

/* line 102, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section .is--inline, .content-viewer .doc-section .is--inline {
  display: inline-block;
}

/* line 106, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section .is--front-image, .content-viewer .doc-section .is--front-image {
  -webkit-transform: translateX(-4px) translateY(32px);
  -moz-transform: translateX(-4px) translateY(32px);
  -ms-transform: translateX(-4px) translateY(32px);
  -o-transform: translateX(-4px) translateY(32px);
  transform: translateX(-4px) translateY(32px);
}

/* line 110, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section h1, .content-viewer .doc-section h1 {
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 40px;
  color: #000;
  font-weight: 400;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  margin: 0.67em 0;
}

/* line 120, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section h2, .content-viewer .doc-section h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 28px;
  color: #000;
}

/* line 128, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section h3, .content-viewer .doc-section h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 22px;
  color: #000;
}

/* line 137, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section h5, .content-viewer .doc-section h5 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 20px;
  color: #000;
}

/* line 146, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section p, .content-viewer .doc-section p {
  clear: both;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
}

/* line 152, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section img, .content-viewer .doc-section img {
  max-width: 960px;
}

/* line 159, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section pre code, .content-viewer .doc-section pre code {
  padding: 40px;
  font-size: 14px;
  margin-bottom: 30px;
}

/* line 164, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section .app-code-snippet, .content-viewer .doc-section .app-code-snippet {
  clear: both;
  margin-left: 0px;
  padding-bottom: 40px;
}

/* line 170, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section .grid__container, .content-viewer .doc-section .grid__container {
  margin-bottom: 0px;
}

/* line 180, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .guide-section .section-body ul li {
  font-size: 14px;
  padding-bottom: 6px;
  list-style-type: square;
  margin-left: 16px;
}

/* line 192, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer.is--index .guide-section {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 198, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer.is--index .guide-section h1 {
  font-size: 112px;
  margin: 0;
}

/* line 202, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer.is--index .guide-section p {
  margin-top: 40px;
  padding-left: 8px;
}

/* line 210, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .doc-section {
  border-bottom: 1px solid #b2b2b2;
  /* Styles */
}

/* line 214, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .doc-section h2 {
  position: relative;
  display: inline-block;
  float: left;
}

/* line 220, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .doc-section .app-open-editor-button {
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
  -webkit-transform: translateY(-24px);
  -moz-transform: translateY(-24px);
  -ms-transform: translateY(-24px);
  -o-transform: translateY(-24px);
  transform: translateY(-24px);
  cursor: pointer;
  background: url("/resources/toolkit/img/snippet-icon.png") no-repeat;
  margin-top: 56px;
  margin-left: 10px;
  z-index: 10;
}

/* line 231, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .doc-section .app-open-editor-button:hover {
  background: url("/resources/toolkit/img/snippet-icon-active.png") no-repeat;
}

/* line 234, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .doc-section .app-open-editor-button.is--active {
  background: url("/resources/toolkit/img/snippet-icon-active-black.png") no-repeat;
}

/* line 239, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .doc-section li > code, .content-viewer .doc-section p > code {
  background: #e6e6e6;
  border: solid 1px #cacaca;
  padding: 2px 8px;
  font-size: 0.9em;
  color: #333;
}

/* line 247, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer .doc-section hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 263, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
section[data-nav-class='Global Nav'], section[data-nav-class='Open Global Nav'] {
  min-height: 500px;
}

/* line 265, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
section[data-nav-class='Global Nav'] .global__nav, section[data-nav-class='Open Global Nav'] .global__nav {
  height: 350px;
}

/* line 270, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.is--type-scale {
  margin-bottom: 20px !important;
}

/* line 275, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside {
  position: absolute;
  width: 20%;
  height: 100%;
  background: #1a1a1a;
  color: #FFF;
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  z-index: 0;
  border-right: 8px solid #4d4d4d;
}

/* line 289, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside .portal__navigation-header {
  position: fixed;
  width: 20%;
  height: 60px;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  padding-top: 26px;
  background: #1a1a1a;
  border-right: 8px solid #4d4d4d;
  z-index: 900;
}

/* line 302, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 {
  width: 100%;
  height: 36px;
}

/* line 307, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 a:link, .content-viewer-aside h1 a:visited {
  font-size: 22px;
  font-weight: 300;
  padding-left: 12px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

/* line 316, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 .portal__navigation-headline {
  position: absolute;
}

/* line 321, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span {
  font-weight: 500;
}

/* line 325, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon {
  display: block;
  float: right;
  font-weight: 300;
  font-size: 16px;
  border: 2px solid #999999;
  background: #595959;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 15px;
  -webkit-transform: translateX(0px) translateY(4px);
  -moz-transform: translateX(0px) translateY(4px);
  -ms-transform: translateX(0px) translateY(4px);
  -o-transform: translateX(0px) translateY(4px);
  transform: translateX(0px) translateY(4px);
  width: 16px;
  height: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* line 342, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon span {
  display: none;
}

/* line 345, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon.is--active {
  width: 32px;
  height: 32px;
  border: 0 none;
  background: #ffffff;
  color: #000000;
  padding-top: 8px;
  padding-left: 0.725em;
  -webkit-transform: translateX(0px) translateY(-4px);
  -moz-transform: translateX(0px) translateY(-4px);
  -ms-transform: translateX(0px) translateY(-4px);
  -o-transform: translateX(0px) translateY(-4px);
  transform: translateX(0px) translateY(-4px);
}

/* line 356, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon.is--active span {
  display: block;
}

/* line 368, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon:not(.is--active):hover {
  border: 3px solid #fdbb30;
  background: #000000;
  width: 18px;
  height: 18px;
}

/* line 373, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon:not(.is--active):hover > span {
  display: block;
  width: 4px;
  height: 4px;
  background: #fdbb30;
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: -2px;
  margin-left: -2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 384, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon:not(.is--active):hover > span > span {
  display: none;
}

/* line 390, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon + span.theme-icon {
  padding-left: 0px;
  margin-right: 10px;
}

/* line 393, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside h1 span.theme-icon + span.theme-icon.is--active {
  padding-left: 0.7em;
  margin-right: 10px;
}

/* line 400, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside nav {
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-top: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}

/* line 410, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside nav.is--half {
  height: 50%;
}

/* line 417, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside.is--half nav {
  height: 50%;
}

/* line 422, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul {
  width: 100%;
  margin-top: 14px;
}

/* line 427, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul a:link, .content-viewer-aside ul a:visited {
  color: #FFF;
  text-decoration: none;
  margin-left: 12px;
  margin-bottom: 14px;
}

/* line 435, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-sections {
  margin-top: 40px;
  margin-left: -6px;
}

/* line 439, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-sections li {
  display: block;
  margin-top: 14px;
  text-transform: capitalize;
}

/* line 445, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-sections a:link, .content-viewer-aside ul.content-viewer-aside-sections a:visited {
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

/* line 451, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-sections a:link.is--uppercase, .content-viewer-aside ul.content-viewer-aside-sections a:visited.is--uppercase {
  text-transform: uppercase;
}

/* line 455, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-sections a:link.is--active, .content-viewer-aside ul.content-viewer-aside-sections a:visited.is--active {
  color: #fccd30;
  font-weight: 500;
}

/* line 476, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-subsections li {
  display: block;
  margin-top: 14px;
}

/* line 481, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-subsections a:link, .content-viewer-aside ul.content-viewer-aside-subsections a:visited {
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  font-weight: 400;
  padding-left: 24px;
  color: #cacccb;
}

/* line 487, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-subsections a:link.is--active, .content-viewer-aside ul.content-viewer-aside-subsections a:visited.is--active {
  color: #fccd30;
  font-weight: 500;
}

/* line 490, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-subsections a:link.is--active:before, .content-viewer-aside ul.content-viewer-aside-subsections a:visited.is--active:before {
  content: '';
  display: inline-block;
  margin-left: -19px;
  margin-right: 8px;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fccc30 transparent transparent transparent;
}

/* line 502, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-subsections a:link:not(.is--active):hover, .content-viewer-aside ul.content-viewer-aside-subsections a:visited:not(.is--active):hover {
  color: #ffffff;
}

/* line 510, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-category li {
  display: block;
  margin-top: 14px;
}

/* line 515, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-category a:link, .content-viewer-aside ul.content-viewer-aside-category a:visited {
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  font-weight: 400;
  color: #cacccb;
  margin-left: 24px;
  cursor: pointer;
}

/* line 522, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-category a:link.is--active, .content-viewer-aside ul.content-viewer-aside-category a:visited.is--active {
  color: #ffffff;
  font-weight: 500;
}

/* line 525, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-category a:link.is--active:before, .content-viewer-aside ul.content-viewer-aside-category a:visited.is--active:before {
  content: '';
  display: inline-block;
  margin-left: -19px;
  margin-right: 8px;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  border-style: none;
  border-width: 0;
  border-color: transparent;
}

/* line 540, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul.content-viewer-aside-category a:link:hover, .content-viewer-aside ul.content-viewer-aside-category a:visited:hover {
  color: #ffffff;
}

/* line 547, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside ul h5 {
  margin-bottom: 20px;
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: 500;
}

/* line 555, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside .content-viewer-aside-close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 564, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside .content-viewer-aside-close-button span {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateY(0px) rotate(-45deg);
  -moz-transform: translateY(0px) rotate(-45deg);
  -ms-transform: translateY(0px) rotate(-45deg);
  -o-transform: translateY(0px) rotate(-45deg);
  transform: translateY(0px) rotate(-45deg);
  border-left: 1px solid #FFF;
}

/* line 572, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside .content-viewer-aside-close-button span + span {
  -webkit-transform: translateY(-7px) rotate(45deg);
  -moz-transform: translateY(-7px) rotate(45deg);
  -ms-transform: translateY(-7px) rotate(45deg);
  -o-transform: translateY(-7px) rotate(45deg);
  transform: translateY(-7px) rotate(45deg);
}

/* line 577, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside.is--closed {
  width: 10px;
}

/* line 581, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside.is--closed nav {
  display: none;
}

/* line 585, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside.is--closed .content-viewer-editor {
  display: none;
}

/* line 589, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside.is--closed .content-viewer-aside-close-button {
  width: 10px;
  height: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1000;
}

/* line 598, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-aside.is--closed .content-viewer-aside-close-button span {
  display: none;
}

/* line 609, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor {
  position: absolute;
  width: 30%;
  right: 0px;
  top: 0px;
  height: 100%;
  background: #23241f;
  color: #FFF;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-left: 8px solid #4d4d4d;
  overflow-y: scroll;
}

/* line 627, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .content-viewer-aside-close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 636, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .content-viewer-aside-close-button span {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateY(0px) rotate(-45deg);
  -moz-transform: translateY(0px) rotate(-45deg);
  -ms-transform: translateY(0px) rotate(-45deg);
  -o-transform: translateY(0px) rotate(-45deg);
  transform: translateY(0px) rotate(-45deg);
  border-left: 1px solid #FFF;
}

/* line 644, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .content-viewer-aside-close-button span + span {
  -webkit-transform: translateY(-7px) rotate(45deg);
  -moz-transform: translateY(-7px) rotate(45deg);
  -ms-transform: translateY(-7px) rotate(45deg);
  -o-transform: translateY(-7px) rotate(45deg);
  transform: translateY(-7px) rotate(45deg);
}

/* line 650, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor header {
  height: 70px;
  background: #000;
  margin-left: -10px;
  margin-top: -20px;
  padding-left: 42px;
}

/* line 660, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor header h2 {
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateX(10px) translateY(-50%);
  -moz-transform: translateX(10px) translateY(-50%);
  -ms-transform: translateX(10px) translateY(-50%);
  -o-transform: translateX(10px) translateY(-50%);
  transform: translateX(10px) translateY(-50%);
  color: #FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 673, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .hljs {
  padding: 0px;
}

/* line 678, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor.is--closed {
  right: -30%;
  border-left: 8px solid #fdbb30;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/* line 685, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .content-viewer-editor-code {
  position: absolute;
  height: 100%;
  width: 96.5%;
  overflow: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 694, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .app-code-line-numbers {
  position: relative;
  float: left;
  padding-left: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  margin-top: -10px;
  margin-right: 20px;
  line-height: 10px;
  opacity: 0.3;
}

/* line 706, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .app-code-line-numbers ul {
  width: 10px;
  min-width: 10px;
}

/* line 710, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .app-code-line-numbers li {
  margin-top: 8px;
}

/* line 715, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.content-viewer-editor .app-code-snippet {
  position: relative;
  left: -12px;
}

/* line 722, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.icon__header-arrow-down.is--static {
  clear: both;
  background-image: none;
  width: auto;
  height: auto;
  border: 1px solid #ABABAB;
  margin-bottom: 40px;
}

/* line 730, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.icon__header-arrow-down.is--static .modal__overlay, .icon__header-arrow-down.is--static .modal__overlay.is--active {
  display: none;
}

/* line 733, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.icon__header-arrow-down.is--static .modal__container {
  position: relative;
  left: 0px;
  -webkit-transform: translateX(0%) translateY(0px);
  -moz-transform: translateX(0%) translateY(0px);
  -ms-transform: translateX(0%) translateY(0px);
  -o-transform: translateX(0%) translateY(0px);
  transform: translateX(0%) translateY(0px);
}

/* line 737, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.icon__header-arrow-down.is--static .modal__container.is--alert-modal {
  height: 420px;
}

/* line 744, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.is--stratus .global__header .modal__outer-container.has--all-env.is--active {
  height: 530px;
}

/* line 746, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.is--stratus .global__header .modal__outer-container.has--all-env.is--active .modal__container.is--fue.is--active {
  height: 530px;
}

/* line 753, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__swatch {
  width: 120px;
  height: 120px;
  float: left;
  position: relative;
  margin-right: 40px;
  margin-bottom: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: #AAAAAA;
  font-size: 12px;
  border: 2px solid #AAAAAA;
}

/* line 766, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__swatch div {
  width: 80px;
  position: relative;
  left: 50%;
}

/* line 773, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__swatch .app__swatch--value {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
  font-weight: 500;
}

/* line 779, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__swatch .app__swatch--value.is--light {
  color: #000000;
}

/* line 783, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__swatch .app__swatch--title {
  top: -40px;
  -webkit-transform: translateX(-50%) translateY(0%);
  -moz-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  -o-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
}

/* line 790, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__icon {
  width: 180px;
  height: 180px;
  float: left;
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: #AAAAAA;
  font-size: 12px;
  border: 2px solid rgba(155, 155, 155, 0.2);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background: #f2f2f2;
}

/* line 808, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__icon header {
  width: 100%;
  height: 32px;
}

/* line 811, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__icon header span {
  margin-right: 6px;
}

/* line 815, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__icon > div {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
}

/* line 822, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app__icon > div > div {
  display: block !important;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-60%);
  -moz-transform: translateX(-50%) translateY(-60%);
  -ms-transform: translateX(-50%) translateY(-60%);
  -o-transform: translateX(-50%) translateY(-60%);
  transform: translateX(-50%) translateY(-60%);
}

/* line 830, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-example {
  margin: 20px;
  padding: 40px;
  border: solid #ccc 1px;
  overflow: auto;
}

/* line 837, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc table {
  width: 100%;
}

/* line 840, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc table tr:nth-child(even) {
  background-color: #f1f1f1;
}

/* line 844, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc table tr:nth-child(odd) {
  background: #e4e4e4;
}

/* line 848, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc table th {
  background-color: #333;
  color: #ccc;
}

/* line 853, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc table th, .app-code-doc table td {
  border: 1px solid #bbb;
  padding: 5px;
}

/* line 859, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc > ol {
  padding-left: 40px;
  line-height: 24px;
}

/* line 863, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc > ol li {
  list-style-type: decimal;
}

/* line 867, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc > ul {
  padding-left: 40px;
  line-height: 24px;
  margin-bottom: 40px;
}

/* line 872, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-doc > ul li {
  list-style-type: disc;
}

/* line 876, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-snippet > ul {
  padding-left: 40px;
  line-height: 24px;
}

/* line 880, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.app-code-snippet > ul li {
  list-style-type: disc;
}

/* line 885, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
div.stratus > ul {
  padding: 20px 40px;
  line-height: 24px;
}

/* line 888, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
div.stratus > ul li {
  list-style-type: disc;
}

/* line 893, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
div.cumulus > ul {
  padding: 20px 40px;
  line-height: 24px;
}

/* line 896, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
div.cumulus > ul li {
  list-style-type: disc;
}

/* line 900, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.view-toggle-sample {
  height: 100px;
  width: 180px;
  margin-left: 100px;
}

/* line 906, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
.modal__container.is--short .modal__content {
  height: 260px;
}
@media screen and (max-width: 1300px){/* line 914, /Users/steveb/vvv/ux-toolkit/app/sass/_app.scss */
  .content-viewer-aside h1 a:link, .content-viewer-aside h1 a:visited{
    font-size: 16px;
    padding-top: 4px;
  }
}