$simpletableheadcolor: #f2f2f2;

$cartoonred: #E44754;
$cartoongreen: #45BA7D;
$cartoonorange: #EE8925;

$images-path: "/client/public/images/";

table.classic{
  width: 100%;
  color: #777777;
}
table.classic tfoot{
  visibility: hidden;
}
table.classic tbody tr {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
table.classic thead th{
  background-color: $simpletableheadcolor;
  width: 24%;
  color: #424242;
  cursor: pointer;
}
table.classic thead th.ascending{
  //background: url('../../scripts/bower_components/bootstrap/dist/im';
}
table.classic thead th.descending{

}
table.classic td, table.classic th{
  padding: 13px;
  background-color: transparent;
  text-align: left;
}
table.classic tr:nth-child(odd) {background: #fff;}
table.classic tr:nth-child(even) {background: #fcfcfc;}
table.classic tr td:nth-child(1), table.classic tr th:nth-child(1){
  //background-color: #E6E6E6;
  padding: 5px 50px;
}
table.classic.nopad tr td:nth-child(1), table.classic tr th:nth-child(1){
  padding: 0 50px;
}
table.classic.nopad td {
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.classic.tool tr td:last-child{
  /* padding: 13px 0px;*/
}
table.classic.tool tr td:last-child span.tool-box {
  float: right
}
table.classic.tool tr td:last-child span.tool-box {
  visibility: hidden;
}
table.classic.tool tr:hover td:last-child span.tool-box, table.classic.tool tr.active td:last-child span.tool-box {
  visibility: visible;
}
table.classic.tool tr td:first-child span{
  visibility: hidden;
}
table.classic.tool tr:hover td:first-child span, table.classic.tool tr.active td:first-child span{
  visibility: visible;
}
table.classic.tool tr.selectedrow td:first-child span{
  visibility: visible;
}
.icon-with-circle{
  color: #0C7CAC;
  border: 2px solid #0C7CAC;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-right: 4px;
}
table.classic.tool tr td:last-child span.action-button:hover{
  cursor: pointer;
}
table.classic.tool tr td:last-child span.editbtn{
  background: url("#{$images-path}/scsem-icons-sprite-02.png") transparent -1200px -457px no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 12px;
}
table.classic td span.settingbtn{
  background: url("#{$images-path}/scsem-icons-sprite-02.png") transparent -1200px -457px no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 12px;
}
table.classic tr:hover td:nth-child(1), table.classic tr.active td:nth-child(1){
  background: url("#{$images-path}/images/bluehead.png") transparent repeat-y;
}
table.classic tr.emptyrow:hover td:nth-child(1), table.classic tr.active td:nth-child(1){
  background: url("#{$images-path}/images/graystrip.png") transparent repeat-y;
}
table.classic tr td:nth-child(1){
  background: url("#{$images-path}/images/graystrip.png") transparent repeat-y;
}

table.classic tr td.error-cell {
  border: 2px solid $cartoonred;
}
table.classic tr.emptyrow td{
  padding: 10px 50px;
}