$errorcolor: #bc5c42;
body{
  font-family: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content-viewer.is--index .guide-section{
  position: static;
  top: 0%;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  margin-top: 20px;
}
h1.symheading{
  font-size: 30px;
  color: #999;
  margin: 30px 0;
}
.paddedRow{
  margin-top: 100px;
}
.error{
  color: $errorcolor;
  font-size: 14px;
  margin: 20px 3px;
}
.fetchMetrics{
  margin-left: -20px;
  margin-right: 0px;
  width: 100%;
}
.actionBtn{
  width: 135px;
}
.goBtn{
  width: 50px;
}
.calspeck{
  height: 34px;
}
.compactHeading{
  margin: -24px 0 20px;
}
.rt-tr:HOVER .inline__edit{
  display: block;
}
.rt-tbody{
  font-size: 12px;
}
.inline__edit{
  display: none;
  margin: -5px auto;
  padding: 2px 15px;
}
.autosuggest-list{
  display: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.react-bs-table-container, .react-bs-table-container input{
  font-size: 12px;
}
.ReactTable{
  font-size: 12px;
}
.ReactTable.-striped .rt-tr.-odd{
  background-color: #f9f9f9;
}
.dpdiv{
  float: left;
  margin-right: 8px;
  width: 217px;
}
.hformspan{
  line-height: 33px;
  font-size: 14px;

}
.formgroup{
  margin-bottom: 8px;
}